{% extends "header.html" %}
{% block title %} Strona główna {% endblock %}
{% block content %}
		<div class="container">
			<h3><br>Brama<br><br>
			
				<form method="POST">		
					<input type="submit" name="gate_on"  value="Otwórz">
				</form>
				
				<form method="POST">		
					<input type="submit" name="gate_off" value="Zamknij">
				</form>
				
				<form method="POST">		
					<input type="submit" name="gate_stop" id="stop_btn" value="STOP"><br>
				</form>
			</h3>
		</div>
	</div>
</body>
{% endblock %}
