<link rel="stylesheet" href="/static/css/fontello.css" type="text/css"/>
{% extends "header.html" %}
{% block title %} Strona główna {% endblock %}
{% block content %}
		<div class="container">
			<a href="/templates/lighting" class="tilelink"><div class="tile1"> <i class="icon-lightbulb"></i><br>Oświetlenie</div></a>
			<a href="/templates/temp" class="tilelink"><div class="tile1"> <i class="icon-temperatire"></i><br>Temperatura</div></a>
			<a href="/templates/blinds" class="tilelink"><div class="tile1"> <i class="icon-window-maximize"></i><br>Rolety</div></a>
			<a href="/templates/gate" class="tilelink"><div class="tile1"> <i class="icon-prison"></i><br>Brama</div></a>
			<a href="/templates/door" class="tilelink"><div class="tile1"> <i class="icon-home-outline"></i><br>Drzwi</div></a>
			<a href="/templates/watering" class="tilelink"><div class="tile1"> <i class="icon-shower"></i><br/>Podlewanie ogrodu</div>
		</div>
	</div>

</body>
{% endblock %}
